@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
  box-sizing: border-box;
}
.card {
  background: white;
  margin: auto;
  width: 250px;
  height: 400px;
  padding: 20px;
  padding-top: 150px;
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
  text-align: center;
  font-size: 75px;
}
:spades.before {
  content: "\2660";
  color: black;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 75px;
}
:spades.after {
  content: "\2660";
  color: black;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 75px;
}
:clubs.before {
  content: "\2663";
  color: black;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 75px;
}
:clubs.after {
  content: "\2663";
  color: black;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 75px;
}
:hearts.before {
  content: "\2665";
  color: red;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 75px;
}
:hearts.after {
  content: "\2665";
  color: red;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 75px;
}
:diamonds.before {
  content: "\2666";
  color: red;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 75px;
}
:diamonds.after {
  content: "\2666";
  color: red;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 75px;
}
